.site-header {
  background: black;
  display: flex;
  flex-direction: row-reverse;
  color: white;
  padding: 25px;
}

body {
  background: black;
  color: white;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.top-pad {
  padding-top: 10%;
}

.profile-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px; /* TODO dont hardcode to image dims */
}

input {
  background-color: #282828;
  border: none;
  border-radius: 22px;
  padding-left: 22px;
  margin: 11px 0;
  min-height: 44px;
  flex: 1;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.dates {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dates > span {
  margin: 0 8px;
}

button {
  background: rgba(29, 185, 84);
  color: white;
  border: none;
  border-radius: 22px;
  height: 44px;
}

.login {
  cursor: grab;
}
