/* spotify green: #1ed760 */
.site-header {
  background: rgba(0,0,0,0.8);
  display: flex;
  color: white;
  justify-content: space-between;
}

body {
  background: white;
  color: white;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.hero {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
}

.hero-center {
  text-align: center;
  max-width: 700px;
  margin-top: auto;
  margin-bottom: auto;
}

.top-pad {
  padding-top: 10%;
}

.row {
  padding: 20px 0;
}

.profile-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px; /* TODO dont hardcode to image dims */
}

input {
  background-color: #282828;
  border: none;
  border-radius: 22px;
  color: white;
  padding-left: 22px;
  margin: 11px 0;
  min-height: 44px;
  flex: 1;
}

.form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.dates {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dates > span {
  margin: 0 8px;
}

button {
  background: rgb(29, 185, 84);
  color: white;
  border: none;
  border-radius: 22px;
  height: 44px;
  padding: 0 20px;
  cursor: pointer;
}

/* and logout */
.login {
  cursor: grab;
}

.table-container {
    height: 100%;
    overflow-y: scroll;
}
table {
  text-align: left;
  width: 100%;
}

tr {
  border-top: 1px solid rgb(255, 255, 255, 0.4);
  border-bottom: 1px solid rgb(255, 255, 255, 0.4);
  line-height: 3rem;
}

tbody > tr:hover {
  background: rgb(0, 0, 0, 0.1);
}
